In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../data/data.csv")

In [3]:
memcat = pd.read_csv("../data/memcat.csv")

In [4]:
data_sorted = data.sort_values(by="rank")

In [5]:
memcat_sorted = memcat.sort_values(by="rank")

## SemMem

In [6]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in data_sorted[len(data_sorted) - 20 :].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 0, 'food': 2, 'landscape': 4, 'sports': 4, 'vehicle': 10}

In [7]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in data_sorted[len(data_sorted) - 50 :].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 6, 'food': 9, 'landscape': 11, 'sports': 6, 'vehicle': 18}

In [8]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in data_sorted[:20].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 6, 'food': 4, 'landscape': 3, 'sports': 3, 'vehicle': 4}

In [9]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in data_sorted[:50].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 17, 'food': 9, 'landscape': 5, 'sports': 10, 'vehicle': 9}

## Memcat

In [10]:
memcat_sorted

                    image_file   category      rank
5003       n09359803_14054.jpg  landscape  0.205882
4514  sun_augxrcssyuvvueda.jpg  landscape  0.220930
4891  sun_acgqrysmhvkbzwyo.jpg  landscape  0.228814
5490        n09421951_1478.jpg  landscape  0.244444
5246       n09415671_17246.jpg  landscape  0.247423
...                        ...        ...       ...
3444       n07863374_16769.jpg       food  0.982301
2138          000000511644.jpg       food  0.987179
2146       n07753592_11382.jpg       food  0.989247
3881       n07933274_34426.jpg       food  1.000000
2944       n07929519_31462.jpg       food  1.000000

[10000 rows x 3 columns]

In [11]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in memcat_sorted[len(memcat_sorted) - 20 :].iterrows():
    try:
        frequency[item["category"]] += 1
    except:
        print(item)
print(frequency)

{'animal': 5, 'food': 15, 'landscape': 0, 'sports': 0, 'vehicle': 0}

In [12]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in memcat_sorted[len(memcat_sorted) - 50 :].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 8, 'food': 41, 'landscape': 0, 'sports': 1, 'vehicle': 0}

In [13]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in memcat_sorted[:20].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 0, 'food': 0, 'landscape': 20, 'sports': 0, 'vehicle': 0}

In [14]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in memcat_sorted[:50].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 0, 'food': 0, 'landscape': 49, 'sports': 0, 'vehicle': 1}

## Total

In [15]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
frequency_count = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in data.iterrows():
    frequency[item["category"]] += item["rank"]
    frequency_count[item["category"]] += 1

In [16]:
for item in frequency:
    print(item, ":", str(frequency[item] / frequency_count[item]))

animal : 0.5129464823517587
food : 0.5152876648350002
landscape : 0.5218640551050002
sports : 0.5190238307849999
vehicle : 0.5277931388955224

In [17]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
frequency_count = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in memcat.iterrows():
    frequency[item["category"]] += item["rank"]
    frequency_count[item["category"]] += 1

In [18]:
for item in frequency:
    print(item, ":", str(frequency[item] / frequency_count[item]))

animal : 0.8028231798609993
food : 0.8532151377619973
landscape : 0.5980921178889992
sports : 0.7809453237954981
vehicle : 0.7571780282519994

## In new image

In [19]:
new_image = data[data["new_image"] == "yes"]

In [20]:
new_image

,image,category,h,f,n_resp,rank,MemCat,h.1,f.1,n_resp.1,rank.1,new_image
830,000333.jpg,vehicle,17,3,20,0.850000,NaN,NaN,NaN,NaN,NaN,yes
831,000334.jpg,sports,21,6,27,0.777778,NaN,NaN,NaN,NaN,NaN,yes
832,000335.jpg,vehicle,19,7,26,0.730769,NaN,NaN,NaN,NaN,NaN,yes
833,000336.jpg,food,21,7,28,0.750000,NaN,NaN,NaN,NaN,NaN,yes
834,000337.jpg,landscape,21,8,29,0.724138,NaN,NaN,NaN,NaN,NaN,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
995,000498.jpg,food,19,30,49,0.387755,NaN,NaN,NaN,NaN,NaN,yes
996,000499.jpg,animal,17,30,47,0.361702,NaN,NaN,NaN,NaN,NaN,yes
997,000500.jpg,animal,21,31,52,0.403846,NaN,NaN,NaN,NaN,NaN,yes
998,000501.jpg,food,17,31,48,0.354167,NaN,NaN,NaN,NaN,NaN,yes
999,000502.jpg,sports,19,33,52,0.365385,NaN,NaN,NaN,NaN,NaN,yes

In [21]:
new_image_sorted = new_image.sort_values(by="rank")

In [22]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in new_image_sorted[len(new_image_sorted) - 20 :].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 5, 'food': 4, 'landscape': 5, 'sports': 3, 'vehicle': 3}

In [23]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in new_image_sorted[len(new_image_sorted) - 50 :].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 11, 'food': 10, 'landscape': 9, 'sports': 10, 'vehicle': 10}

In [24]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in new_image_sorted[:20].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 6, 'food': 4, 'landscape': 0, 'sports': 5, 'vehicle': 5}

In [25]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in new_image_sorted[:50].iterrows():
    frequency[item["category"]] += 1
print(frequency)

{'animal': 10, 'food': 9, 'landscape': 11, 'sports': 10, 'vehicle': 10}

In [26]:
frequency = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
frequency_count = {"animal": 0, "food": 0, "landscape": 0, "sports": 0, "vehicle": 0}
for key, item in new_image.iterrows():
    frequency[item["category"]] += item["rank"]
    frequency_count[item["category"]] += 1

In [27]:
for item in frequency:
    print(item, ":", str(frequency[item] / frequency_count[item]))

animal : 0.5167662046969697
food : 0.5263440582941177
landscape : 0.5215099947352941
sports : 0.5197916021764705
vehicle : 0.5223624766857142